# Ignore artifacts:
build
coverage
**/.git
**/.svn
**/.hg
**/node_modules
**/Dockerfile
**/docker-compose*.yml
**/yarn.lock
**/package-lock.json
**/pnpm-lock.yaml
**/.DS_Store
**/Thumbs.db
**/.env
**/.env.local
**/out
**/build
**/public/build
**/public/dist
**/*.code-workspace
.vscode
.github
**/.github
uploads
**/uploads
README.md
LICENSE